.advisors {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 120px;
  padding-bottom: 120px;
  background:
    linear-gradient(0deg, rgba(0, 5, 43, 0.3) 0%, rgba(0, 5, 43, 0.3) 100%),
    url("../img/bcg/advisors-bcg.webp") lightgray 50% / cover no-repeat;

  @media (max-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.advisors__heading {
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }
}
