.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 30px;
  row-gap: 80px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    gap: 40px;
  }
}

.cards__item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);
  padding: 12px 24px;
  padding-right: 40px;
  border-radius: 12px;
  border: 1px solid $basic-white;

  &--advisors {
    box-shadow: 0px 4px 28.8px 0px rgba(171, 171, 171, 0.25);
  }

  &--review {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0px 1px 13px 0px lightgrey;
  }

  @media (max-width: $tablet-width) {
    padding-right: 5px;
    width: 100%;
  }
}

.cards__wrapper {
  display: flex;
  gap: 52px;

  @media (max-width: $tablet-width) {
    gap: 20px;
  }
}

.cards__img {
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid $basic-white;

  @media (max-width: $tablet-width) {
    width: 75px;
    height: 75px;
  }
}

.cards__name-wrapper {
  margin-bottom: 43px;
}

.cards__name {
  margin-bottom: 14px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 48px;

  @media (max-width: $tablet-width) {
    font-size: 36px;
  }
}

.cards__more {
  opacity: 0.5;
}

.cards__line {
  max-width: 100%;
  margin-bottom: 13px;
}
