.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 285px;
  margin-top: 70px;

  .btn {
    max-width: 203px;
    margin: 10px 0;
  }

  a {
    color: $basic-white;
    text-decoration: underline;
  }

  @media (max-width: $tablet-width) {
    margin-top: 50px;

    &#leadform2 {
      margin-top: 0;
    }
  }
}


input {
  box-sizing: border-box;
  max-height: 40px;
  padding: 10px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 16px;
  color: $basic-white;
  border-radius: 5px;
  background: transparent;
  border: 1px solid $basic-white;
}

input[type="checkbox"] {
  accent-color: $bcg;
}

.form__checkbox-label {
  font-size: 14px;
  font-weight: 700;
  // font-family: "Montserrat", "Arial", sans-serif;
}

.form_message.error.inactive {
  display: none;
}

.form_message.error.active {
  display: block;
  color: #0a0a0a;
}

.error {
  color: #831b1b;
  border-color: #831b1b !important;
}

label.error {
  margin-top: -25px;
  text-align: right;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}

#phone1-error,
#phone2-error {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}
