.page-body {
  max-width: 1280px;
  margin: 0 auto;
  font-family: "Jura", "Arial", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  color: $basic-white;
  background: $bcg;
}
