.page-header {
  padding-bottom: 50px;

  @media (max-width: $tablet-width) {
    padding-top: 35px;
    padding-bottom: 22px;
  }
}

.page-header__img {
  @media (max-width: $tablet-width) {
    width: 160px;
    height: auto;
  }
}
