.promo {
  position: relative;
  display: flex;
  gap: 120px;
  padding-bottom: 150px;

  &::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/bcg/promo-bcg.webp') center/cover no-repeat;
    opacity: 0.3;
    z-index: -1;
  }

  &--bottom {
    padding-top: 150px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../img/bcg/promo-bcg.webp') center/cover no-repeat;
      opacity: 0.3;
      z-index: -1;
    }
  }

  @media (max-width: $tablet-width) {
    overflow: hidden;
    flex-direction: column;
    gap: 0;

    &::before {
      content: "";
      position: absolute;
      top: -100px;
      left: 0;
      width: 200%;
      height: 100%;
      background: url('../img/bcg/promo-bcg.webp') center/cover no-repeat;
      opacity: 0.3;
      z-index: -1;
    }

    &--bottom {
      padding-top: 110px;
      padding-bottom: 80px;

      &::before {
        content: "";
        position: absolute;
        top: -100px;
        left: 0;
        width: 200%;
        height: 100%;
        background: url('../img/bcg/promo-bcg.webp') center/cover no-repeat;
        opacity: 0.3;
        z-index: -1;
      }
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;

  &--text {
    max-width: 630px;
  }
}

.promo__heading {
  margin-bottom: 33px;
  font-family: "Aftika", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 700;

  span {
    font-family: "Inter", "Arial", sans-serif;
  }

  @media (max-width: $tablet-width) {
    font-size: 36px;
  }
}

.promo__about {
  margin-bottom: 33px;
  padding-right: 215px;

  @media (max-width: $tablet-width) {
    padding-right: 0;
  }
}

.promo__btns {
  display: flex;
  gap: 40px;
  margin-bottom: 50px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.promo__list {
  display: flex;
  gap: 60px;
  opacity: 0.5;

  @media (max-width: $tablet-width) {
    position: absolute;
    bottom: 40px;
    gap: 5px;
    justify-content: space-between;
  }
}

.promo__number {
  margin-bottom: 6px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  font-family: "Aftika", "Arial", sans-serif;
  font-size: 48px;
  font-weight: 700;

  span {
    font-family: "Inter", "Arial", sans-serif;
  }

  @media (max-width: $tablet-width) {
    font-size: 36px;
  }
}

.promo__more-info {
  font-family: "Inter", "Arial", sans-serif;

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }
}
